In [1]:
import findspark
findspark.init()

In [4]:
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName("explode").getOrCreate()
sc=spark.sparkContext

In [5]:
in_df=spark.read.csv("C:\\Users\\bhupa\Desktop\pyspark\source_data\input4.csv",sep="|",header=True)

In [7]:
in_df.show()

+------+---+---------------+
|  Name|Age|      Education|
+------+---+---------------+
|Bhupal| 38|MTech,BTech,SSC|
| Pujya|  8|     ThirdGrade|
|Anitha| 35|        MSc,BSC|
|Havish|  4|           null|
+------+---+---------------+

In [13]:
from pyspark.sql.functions import explode_outer,split
in_df.withColumn("Qualification",explode_outer(split("Education",","))).show()

+------+---+---------------+-------------+
|  Name|Age|      Education|Qualification|
+------+---+---------------+-------------+
|Bhupal| 38|MTech,BTech,SSC|        MTech|
|Bhupal| 38|MTech,BTech,SSC|        BTech|
|Bhupal| 38|MTech,BTech,SSC|          SSC|
| Pujya|  8|     ThirdGrade|   ThirdGrade|
|Anitha| 35|        MSc,BSC|          MSc|
|Anitha| 35|        MSc,BSC|          BSC|
|Havish|  4|           null|         null|
+------+---+---------------+-------------+